<header class="wow fadeInDown" data-offset-top="197" data-spy="affix">
  <!-- Top Wrapper -->
  <div class="top-wrapper hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i> +1-012-345-6789
            </li>
            <li>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a href="mailto:support@sbtechnosoft.com"
                >support@sbtechnosoft.com</a
              >
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <div class="pull-right">
            <ul class="social-icons">
              <li>
                <a href="javascript:void(0)"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="fa fa-twitter" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
            <div class="quote">
              <a href="javascript:void(0)">
                <span class="lnr lnr-pencil"></span>Request a Quote</a
              >
              <div class="quote-popup">
                <div class="free-quote">
                  <i class="fa fa-times" aria-hidden="true"></i>
                  <h2>Enquire Now</h2>
                  <form action="#">
                    <div class="form-group">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <input
                        type="text"
                        name="user-name"
                        placeholder="Username"
                      />
                    </div>
                    <div class="form-group">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <input
                        type="email"
                        name="user-email"
                        placeholder="Email"
                      />
                    </div>
                    <div class="form-group">
                      <span>+1</span>
                      <input type="text" name="phone" placeholder="Phone" />
                    </div>
                    <div class="form-group">
                      <textarea placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Logo and Nav -->
  <div class="logo-wrapper">
    <div class="container">
      <div class="row">
        <!-- Logo -->
        <div class="col-sm-12 col-md-3 hidden-xs">
          <div class="logo">
            <a href="index.html"
              ><img src="images/logo.png" alt="Grow Landscape"
            /></a>
          </div>
          <div class="affix-logo">
            <a href="index.html"
              ><img src="images/affix-logo.png" alt="Grow Landscape"
            /></a>
          </div>
        </div>
        <!-- Navigation -->
        <div class="col-sm-12 col-md-9">
          <div class="row">
            <div class="col-sm-12 col-md-11">
              <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false"
                  >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html"
                    ><img src="images/mobile-logo.png" alt="Grow Landscape"
                  /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div
                  class="collapse navbar-collapse"
                  id="bs-example-navbar-collapse-1"
                >
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li class="dropdown">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Pages <i class="fa fa-caret-down"></i
                      ></a>
                      <ul class="dropdown-menu">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="our-team.html">Our Team</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                        <li><a href="404.html">404</a></li>
                      </ul>
                    </li>
                    <li class="dropdown mega-menu">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Portfolio <i class="fa fa-angle-down"></i
                      ></a>
                      <ul class="dropdown-menu">
                        <li>
                          <div class="row">
                            <div class="col-md-4">
                              <ul class="list-unstyled">
                                <li>
                                  <a href="about-us.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    About Us</a
                                  >
                                </li>
                                <li>
                                  <a href="services.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Services</a
                                  >
                                </li>
                                <li>
                                  <a href="our-team.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Our Team</a
                                  >
                                </li>
                                <li>
                                  <a href="faq.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Faq</a
                                  >
                                </li>
                                <li>
                                  <a href="testimonials.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Testimonials</a
                                  >
                                </li>
                                <li>
                                  <a href="coming-soon.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Coming Soon</a
                                  >
                                </li>
                                <li>
                                  <a href="404.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    404</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-4">
                              <ul class="list-unstyled">
                                <li>
                                  <a href="tabs.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Tabs</a
                                  >
                                </li>
                                <li>
                                  <a href="accordians.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Accordians</a
                                  >
                                </li>
                                <li>
                                  <a href="typography.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Typography</a
                                  >
                                </li>
                                <li>
                                  <a href="buttons.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Buttons</a
                                  >
                                </li>
                                <li>
                                  <a href="forms.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Forms</a
                                  >
                                </li>
                                <li>
                                  <a href="grid.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Grid</a
                                  >
                                </li>
                                <li>
                                  <a href="tables.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Tables</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-4">
                              <ul class="list-unstyled">
                                <li>
                                  <a href="blockquote.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Blockquote</a
                                  >
                                </li>
                                <li>
                                  <a href="alerts.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Alerts</a
                                  >
                                </li>
                                <li>
                                  <a href="blog-2-column.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Blog 2 Column</a
                                  >
                                </li>
                                <li>
                                  <a href="blog-3-column.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Blog 3 Column</a
                                  >
                                </li>
                                <li>
                                  <a href="blog-full-width.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Blog Full Width</a
                                  >
                                </li>
                                <li>
                                  <a href="blog-details.html"
                                    ><i
                                      class="fa fa-angle-right"
                                      aria-hidden="true"
                                    ></i>
                                    Blog Details</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="dropdown">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Blog <i class="fa fa-caret-down"></i
                      ></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-2-column.html">Blog 2 Column</a></li>
                        <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                        <li>
                          <a href="blog-full-width.html">Blog Full Width</a>
                        </li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a
                        href="javascript:void(0)"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Elements <i class="fa fa-caret-down"></i
                      ></a>
                      <ul class="dropdown-menu">
                        <li><a href="tabs.html">Tabs</a></li>
                        <li><a href="accordians.html">Accordians</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="forms.html">Forms</a></li>
                        <li><a href="grid.html">Grid</a></li>
                        <li><a href="tables.html">Tables</a></li>
                        <li><a href="blockquote.html">Blockquote</a></li>
                        <li><a href="alerts.html">Alerts</a></li>
                      </ul>
                    </li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </nav>
            </div>
            <div class="col-sm-12 col-md-1 hidden-sm hidden-xs">
              <div class="search pull-right">
                <i class="fa fa-search" aria-hidden="true"></i>
                <div id="search-form-container">
                  <form
                    id="search-form"
                    action="#"
                    style="display: none"
                    class=""
                  >
                    <input
                      type="search"
                      id="search"
                      name="search"
                      placeholder="Search..."
                    />
                    <input type="submit" id="search-submit" value="" />
                    <span id="close-form" class="close">x</span>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
<!-- Banner Wrapper Start -->
<div class="banner-wrapper">
  <div
    class="carousel fade-carousel slide"
    data-ride="carousel"
    data-interval="4000"
    id="bs-carousel"
  >
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1">
          <img src="https://picsum.photos/1920/701" alt="Grow Landscape" />
        </div>
        <div class="hero">
          <h1>Find The Best <span>Service for your Garden</span></h1>
          <h2>We serve better and faster</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
            <span
              >Lorem Ipsum has been the industry's standard dummy text ever
              since the 1500s.</span
            >
          </p>
          <button class="btn btn-hero animated3">Call Us</button>
          <button class="btn btn-hero animated3">Read More</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2">
          <img
            src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=1920%C3%97700&w=1920&h=700"
            alt="Grow Landscape"
          />
        </div>
        <div class="hero">
          <h1>Find The Best <span>Service for your Garden</span></h1>
          <h2>We serve better and faster</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
            <span
              >Lorem Ipsum has been the industry's standard dummy text ever
              since the 1500s.</span
            >
          </p>
          <button class="btn btn-hero animated3">Call Us</button>
          <button class="btn btn-hero animated3">Read More</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3">
          <img
            src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=1920%C3%97700&w=1920&h=700"
            alt="Grow Landscape"
          />
        </div>
        <div class="hero">
          <h1>Find The Best <span>Service for your Garden</span></h1>
          <h2>We serve better and faster</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
            <span
              >Lorem Ipsum has been the industry's standard dummy text ever
              since the 1500s.</span
            >
          </p>
          <button class="btn btn-hero animated3">Call Us</button>
          <button class="btn btn-hero animated3">Read More</button>
        </div>
      </div>
    </div>
    <div class="slide-arrows">
      <a class="left carousel-control" href="#bs-carousel" data-slide="prev"
        ><span
          class="transition3s glyphicon glyphicon-chevron-left fa fa-angle-left"
        ></span
      ></a>
      <a class="right carousel-control" href="#bs-carousel" data-slide="next"
        ><span
          class="transition3s glyphicon glyphicon-chevron-right fa fa-angle-right"
        ></span
      ></a>
    </div>
  </div>
</div>

<!-- Our services Start -->
<section class="our-services">
  <div class="container">
    <h2>What we do <span>Our Services</span></h2>
    <div id="services" class="owl-carousel owl-theme">
      <div class="item">
        <div class="services">
          <i class="fa fa-pagelines" aria-hidden="true"></i>
          <h3>Garden Care & Upgrade</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad minim veniam.
          </p>
          <a href="javascript:void(0)">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="services">
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <h3>Planting & Renovations</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad minim veniam.
          </p>
          <a href="javascript:void(0)">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="services">
          <i class="fa fa-tree" aria-hidden="true"></i>
          <h3>Planting & Bonsai Care</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad minim veniam.
          </p>
          <a href="javascript:void(0)">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="services">
          <i class="fa fa-pagelines" aria-hidden="true"></i>
          <h3>Garden Care & Upgrade</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad minim veniam.
          </p>
          <a href="javascript:void(0)">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="services">
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <h3>Planting & Renovations</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad minim veniam.
          </p>
          <a href="javascript:void(0)">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="services">
          <i class="fa fa-tree" aria-hidden="true"></i>
          <h3>Planting & Bonsai Care</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad minim veniam.
          </p>
          <a href="javascript:void(0)">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our services End -->
<!-- Why Choose Start -->
<section class="why-choose">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="choose-list">
          <div class="icon">
            <i class="fa fa-envira" aria-hidden="true"></i>
          </div>
          <div class="list-cnt">
            <h3>We are Professional <span>Landscapist</span></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummynibh euismod tincidunt ut laoreet dolore magna aliquam
              erat.
            </p>
          </div>
          <span class="number">01</span>
          <i class="fa fa-leaf" aria-hidden="true"></i>
        </div>
        <div class="choose-list">
          <div class="icon">
            <i class="fa fa-envira" aria-hidden="true"></i>
          </div>
          <div class="list-cnt">
            <h3>100% Trusted <span>Team Members</span></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummynibh euismod tincidunt ut laoreet dolore magna aliquam
              erat.
            </p>
          </div>
          <span class="number">02</span>
          <i class="fa fa-leaf" aria-hidden="true"></i>
        </div>
        <div class="choose-list">
          <div class="icon">
            <i class="fa fa-envira" aria-hidden="true"></i>
          </div>
          <div class="list-cnt">
            <h3>Expert Knowledge <span>Architecture Knowledge</span></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummynibh euismod tincidunt ut laoreet dolore magna aliquam
              erat.
            </p>
          </div>
          <span class="number">03</span>
          <i class="fa fa-leaf" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="choose-cnt">
          <h2>Why Choose us <span>Reasons You Choose us</span></h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummynibh euismod tincidunt ut
            <span>laoreet dolore magna aliquam</span> erat volutpat sed diam
            nonummynibh euismod tincidunt ut.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummynibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim ad minim veniam.
          </p>
          <div class="equipmets">
            <h3>Technically Strong Equipmets</h3>
            <div
              class="carousel fade-carousel slide"
              data-ride="carousel"
              data-interval="4000"
              id="equipmets"
            >
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item slides active">
                  <div class="slide-1">
                    <img
                      src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=626%C3%97415&w=626&h=415"
                      alt="Grow Landscape"
                    />
                  </div>
                </div>
                <div class="item slides">
                  <div class="slide-2">
                    <img
                      src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=626%C3%97415&w=626&h=415"
                      alt="Grow Landscape"
                    />
                  </div>
                </div>
                <div class="item slides">
                  <div class="slide-3">
                    <img
                      src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=626%C3%97415&w=626&h=415"
                      alt="Grow Landscape"
                    />
                  </div>
                </div>
              </div>
              <div class="slide-arrows">
                <a
                  class="left carousel-control"
                  href="#equipmets"
                  data-slide="prev"
                  ><span
                    class="transition3s glyphicon glyphicon-chevron-left fa fa-long-arrow-left"
                  ></span
                ></a>
                <a
                  class="right carousel-control"
                  href="#equipmets"
                  data-slide="next"
                  ><span
                    class="transition3s glyphicon glyphicon-chevron-right fa fa-long-arrow-right"
                  ></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose End -->
<!-- Newaletter Start -->
<section class="newsletter">
  <div class="container">
    <h2>Join with us <span>News letter signup</span></h2>
  </div>
  <div class="newsletter-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <p>
            Subscribe to our newsletter to receive news, updates,and another
            stuff by email.
          </p>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="form">
            <input
              type="text"
              placeholder="Enter your Email"
              id="exampleInputName"
              class="form-control first"
            />
            <input type="text" class="bttn" value="Subscribe" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Newaletter End -->
<!-- Testimonials Start -->
<section class="testimonials-wrapper">
  <div class="container">
    <h2>Clients Says <span>How our Services</span></h2>
    <div
      class="carousel fade-carousel slide"
      data-ride="carousel"
      data-interval="4000"
      id="testimonials"
    >
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1">
            <div class="row">
              <div class="col-sm-4">
                <div class="img-border">
                  <div class="tes-img">
                    <img
                      src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=300%C3%97350&w=300&h=350"
                      alt="Grow Landscape"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="testimonials-content">
                  <p>
                    Mauris volutpat nulla a enim efficitur elementum poritor at
                    diam aliquam et elit elementumMauris volutpat nulla a enim
                    efficitur elementum poritor at diam aliquam et elit
                    elementum, nisl sed, pellentesque mares. Integer blandit
                    erat bibendum pulvinar lobortis. Mauris sed turpis. Mauris
                    volutpat nulla a enim efficitur elementum poritor at diam
                    aliquam et elit elementumMauris volutpat nulla a enim
                    efficitur elementum poritor at diam aliquam et elit
                    elementum, nisl sed, pellentesque mares. Integer blandit
                    erat bibendum pulvinar lobortis. Mauris sed turpis. Mauris
                    volutpat nulla a enim efficitur elementum poritor at diam
                    aliquam et elit elementumMauris.
                  </p>
                  <h3>Michal Marek</h3>
                  <h4>
                    Marketing Head - April-2017 <span>Premium Member</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2">
            <div class="row">
              <div class="col-sm-4">
                <div class="img-border">
                  <div class="tes-img">
                    <img
                      src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=300%C3%97350&w=300&h=350"
                      alt="Grow Landscape"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="testimonials-content">
                  <p>
                    Mauris volutpat nulla a enim efficitur elementum poritor at
                    diam aliquam et elit elementumMauris volutpat nulla a enim
                    efficitur elementum poritor at diam aliquam et elit
                    elementum, nisl sed, pellentesque mares. Integer blandit
                    erat bibendum pulvinar lobortis. Mauris sed turpis. Mauris
                    volutpat nulla a enim efficitur elementum poritor at diam
                    aliquam et elit elementumMauris volutpat nulla a enim
                    efficitur elementum poritor at diam aliquam et elit
                    elementum, nisl sed, pellentesque mares. Integer blandit
                    erat bibendum pulvinar lobortis. Mauris sed turpis. Mauris
                    volutpat nulla a enim efficitur elementum poritor at diam
                    aliquam et elit elementumMauris.
                  </p>
                  <h3>Mary Williams</h3>
                  <h4>
                    Marketing Head - April-2017 <span>Premium Member</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3">
            <div class="row">
              <div class="col-sm-4">
                <div class="img-border">
                  <div class="tes-img">
                    <img
                      src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=300%C3%97350&w=300&h=350"
                      alt="Grow Landscape"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="testimonials-content">
                  <p>
                    Mauris volutpat nulla a enim efficitur elementum poritor at
                    diam aliquam et elit elementumMauris volutpat nulla a enim
                    efficitur elementum poritor at diam aliquam et elit
                    elementum, nisl sed, pellentesque mares. Integer blandit
                    erat bibendum pulvinar lobortis. Mauris sed turpis. Mauris
                    volutpat nulla a enim efficitur elementum poritor at diam
                    aliquam et elit elementumMauris volutpat nulla a enim
                    efficitur elementum poritor at diam aliquam et elit
                    elementum, nisl sed, pellentesque mares. Integer blandit
                    erat bibendum pulvinar lobortis. Mauris sed turpis. Mauris
                    volutpat nulla a enim efficitur elementum poritor at diam
                    aliquam et elit elementumMauris.
                  </p>
                  <h3>Michal Marek</h3>
                  <h4>
                    Marketing Head - April-2017 <span>Premium Member</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials" data-slide-to="1"></li>
        <li data-target="#testimonials" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</section>
<!-- Testimonials End -->
<!-- Our Projects Start -->
<section class="our-projects">
  <div class="container">
    <h2>Our Projects <span>Latest Projects</span></h2>
    <div class="row">
      <div class="col-sm-12">
        <ul class="portfolio-filter">
          <li class="filter" data-filter="*">All</li>
          <li class="filter" data-filter=".renovation">Renovation</li>
          <li class="filter" data-filter=".watering">Watering</li>
          <li class="filter" data-filter=".maintenance">Maintenance</li>
          <li class="filter" data-filter=".planting">Planting</li>
        </ul>
        <!-- /Portfolio Filters -->
        <!-- Portfolio Wrap -->
        <div class="row portfolio-container">
          <!-- single portfolio -->
          <div class="col-md-3 col-sm-6 col-xs-12 work maintenance">
            <a
              class="with-caption"
              href="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
            >
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
                alt="Grow Landscape"
              />
              <div class="work-inner">
                <div class="work-info"><i class="fa fa-search"></i></div>
              </div>
            </a>
          </div>
          <!-- single portfolio -->
          <div class="col-md-3 col-sm-6 col-xs-12 work planting">
            <a
              class="with-caption"
              href="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
            >
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
                alt="Grow Landscape"
              />
              <div class="work-inner">
                <div class="work-info"><i class="fa fa-search"></i></div>
              </div>
            </a>
          </div>
          <!-- single portfolio -->
          <div class="col-md-3 col-sm-6 col-xs-12 work renovation">
            <a
              class="with-caption"
              href="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
            >
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
                alt="Grow Landscape"
              />
              <div class="work-inner">
                <div class="work-info"><i class="fa fa-search"></i></div>
              </div>
            </a>
          </div>
          <!-- single portfolio -->
          <div class="col-md-3 col-sm-6 col-xs-12 work maintenance">
            <a
              class="with-caption"
              href="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
            >
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
                alt="Grow Landscape"
              />
              <div class="work-inner">
                <div class="work-info"><i class="fa fa-search"></i></div>
              </div>
            </a>
          </div>
          <!-- single portfolio -->
          <div class="col-md-3 col-sm-6 col-xs-12 work renovation">
            <a
              class="with-caption"
              href="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
            >
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
                alt="Grow Landscape"
              />
              <div class="work-inner">
                <div class="work-info"><i class="fa fa-search"></i></div>
              </div>
            </a>
          </div>
          <!-- single portfolio -->
          <div class="col-md-3 col-sm-6 col-xs-12 work watering">
            <a
              class="with-caption"
              href="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
            >
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
                alt="Grow Landscape"
              />
              <div class="work-inner">
                <div class="work-info"><i class="fa fa-search"></i></div>
              </div>
            </a>
          </div>
          <!-- single portfolio -->
          <div class="col-md-3 col-sm-6 col-xs-12 work planting">
            <a
              class="with-caption"
              href="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
            >
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
                alt="Grow Landscape"
              />
              <div class="work-inner">
                <div class="work-info"><i class="fa fa-search"></i></div>
              </div>
            </a>
          </div>
          <!-- single portfolio -->
          <div class="col-md-3 col-sm-6 col-xs-12 work watering">
            <a
              class="with-caption"
              href="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
            >
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=372%C3%97412&w=372&h=412"
                alt="Grow Landscape"
              />
              <div class="work-inner">
                <div class="work-info"><i class="fa fa-search"></i></div>
              </div>
            </a>
          </div>
          <!-- single portfolio -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Projects End -->
<!-- News Section Start -->
<section class="news">
  <div class="container">
    <h2>News <span>Our Latest News</span></h2>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="news-img">
            <a class="hover-img" href="javascript:void(0)">
              <img
                alt="Grow Landscape"
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=475%C3%97318&w=475&h=318"
              />
              <div class="hover-link">
                <div class="link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
              </div>
            </a>
            <ul class="date">
              <li>14, April 2017</li>
            </ul>
          </div>
          <div class="caption">
            <h3>
              <a href="javascript:void(0)">Lorem Ipsum is simply dummy</a>
            </h3>
            <ul class="details">
              <li>
                <i class="fa fa-share-alt" aria-hidden="true"></i> 31 Shares
              </li>
              <li><i class="fa fa-heart" aria-hidden="true"></i> 52 Likes</li>
              <li>
                <i class="fa fa-comment" aria-hidden="true"></i> 20 Comments
              </li>
            </ul>
            <p class="posted">Posted by <span>Marek</span></p>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et
            </p>
            <a href="javascript:void(0)" class="readmore"
              >Read more <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="news-img">
            <a class="hover-img" href="javascript:void(0)">
              <img
                alt="Grow Landscape"
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=475%C3%97318&w=475&h=318"
              />
              <div class="hover-link">
                <div class="link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
              </div>
            </a>
            <ul class="date">
              <li>5, May 2017</li>
            </ul>
          </div>
          <div class="caption">
            <h3>
              <a href="javascript:void(0)">Lorem Ipsum is simply dummy</a>
            </h3>
            <ul class="details">
              <li>
                <i class="fa fa-share-alt" aria-hidden="true"></i> 31 Shares
              </li>
              <li><i class="fa fa-heart" aria-hidden="true"></i> 52 Likes</li>
              <li>
                <i class="fa fa-comment" aria-hidden="true"></i> 20 Comments
              </li>
            </ul>
            <p class="posted">Posted by <span>Marek</span></p>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et
            </p>
            <a href="javascript:void(0)" class="readmore"
              >Read more <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="news-img">
            <a class="hover-img" href="javascript:void(0)">
              <img
                alt="Grow Landscape"
                src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=475%C3%97318&w=475&h=318"
              />
              <div class="hover-link">
                <div class="link">
                  <i class="fa fa-link" aria-hidden="true"></i>
                </div>
              </div>
            </a>
            <ul class="date">
              <li>22, April 2017</li>
            </ul>
          </div>
          <div class="caption">
            <h3>
              <a href="javascript:void(0)">Lorem Ipsum is simply dummy</a>
            </h3>
            <ul class="details">
              <li>
                <i class="fa fa-share-alt" aria-hidden="true"></i> 31 Shares
              </li>
              <li><i class="fa fa-heart" aria-hidden="true"></i> 52 Likes</li>
              <li>
                <i class="fa fa-comment" aria-hidden="true"></i> 20 Comments
              </li>
            </ul>
            <p class="posted">Posted by <span>Marek</span></p>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et
            </p>
            <a href="javascript:void(0)" class="readmore"
              >Read more <i class="fa fa-angle-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- News Section End -->
<!-- Footer Wrapper start -->
<section class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 about">
        <img src="images/footer-logo.png" alt="Grow Landscape" />
        <p>
          Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
          Pellentesque orci lectus, consectetur vel, rutrum eu ipsum.
        </p>
      </div>
      <div class="col-sm-6 col-md-2 footer-nav">
        <h3>Quick Links</h3>
        <ul>
          <li>
            <a href="javascript:void(0)"
              ><i class="fa fa-angle-right hidden-xs"></i> About</a
            >
          </li>
          <li>
            <a href="javascript:void(0)"
              ><i class="fa fa-angle-right hidden-xs"></i> Services</a
            >
          </li>
          <li>
            <a href="javascript:void(0)"
              ><i class="fa fa-angle-right hidden-xs"></i> Gallery</a
            >
          </li>
          <li>
            <a href="javascript:void(0)"
              ><i class="fa fa-angle-right hidden-xs"></i> Blog</a
            >
          </li>
          <li>
            <a href="javascript:void(0)"
              ><i class="fa fa-angle-right hidden-xs"></i> Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <h3>Recent Posts</h3>
        <div class="recent-post">
          <div class="row">
            <div class="col-sm-3">
              <a class="hover-img" href="javascript:void(0)">
                <img
                  alt="Grow Landscape"
                  src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=200%C3%97200&w=200&h=200"
                />
              </a>
            </div>
            <div class="col-sm-9 meta-info">
              <h4>
                <a href="javascript:void(0)">Lorem Ipsum is simply dummy</a>
              </h4>
              <p>
                <i class="fa fa-calendar" aria-hidden="true"></i> February 12,
                2017
              </p>
            </div>
          </div>
        </div>
        <div class="recent-post">
          <div class="row">
            <div class="col-sm-3">
              <a class="hover-img" href="javascript:void(0)">
                <img
                  alt="Grow Landscape"
                  src="https://placeholdit.imgix.net/~text?txtsize=50&bg=333&txtclr=cccccc&txt=200%C3%97200&w=200&h=200"
                />
              </a>
            </div>
            <div class="col-sm-9 meta-info">
              <h4>
                <a href="javascript:void(0)">Lorem Ipsum is simply dummy</a>
              </h4>
              <p>
                <i class="fa fa-calendar" aria-hidden="true"></i> February 12,
                2017
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Contact Info</h3>
        <ul class="address">
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>
              5520 Quebec Place<br />
              Washington, DC 20521
            </p>
          </li>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>+1-012-345-6789</p>
          </li>
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p>
              <a href="mailto:support@sbtechnosoft.com"
                >support@sbtechnosoft.com</a
              >
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
